<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/monitorStadium.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/icons/favicon.ico') }}">
    <title>Monitor Stadium</title>
</head>
<body>
{{  include('navbar.html.twig') }}

    <div class="calendar">
        <div class="week-select mb-3">
            <button class="btn btn-success left">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </button>
            <button class="today-btn btn btn-success">Today</button>
            <button class="btn btn-success right">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </button>
        </div>

        <div class="week">
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
            <div class="day"></div>
        </div>
    </div>

    <script>
        const reservations = [];
        {% for reservation in reservations %}
            reservations.push({
                date: new Date('{{ reservation.date|date("M d, Y") }}'),
                startTime: '{{ reservation.startTime|date("H:i") }}',
                endTime: '{{ reservation.endTime|date("H:i") }}',
                client: {
                    name: '{{ reservation.user.firstName}} {{ reservation.user.lastName }}',
                    phoneNumber: '{{ reservation.user.phoneNumber }}',
                    email: '{{ reservation.user.email }}'
                }
            });
        {% endfor %}
    </script>
    <script src="{{ asset('assets/js/monitorStadium.js') }}"></script>
</body>
</html>