<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/addStadium.css') }}">
    <link rel="icon" type="image/png" href="{{ asset('assets/icons/favicon.ico') }}">
    <title>Add Stadium</title>
</head>
<body>
{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    <div class="container overflow-hidden mb-5">
        <div class="row g-lg-5 gy-3 mt-3">
            <div class="col-lg-6">
                <div class="input p-5 rounded info1">
                    <h1 class="text-center mb-5">Add Stadium</h1>

                    <h4>General Information</h4>
                    <div class="form-floating mb-4">
                        {{ form_widget(form.name) }}
                        {{ form_label(form.name, 'Name') }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="container overflow-hidden mb-4 p-0">
                        <div class="row g-md-3 gy-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form_widget(form.openingTime) }}
                                    {{ form_label(form.openingTime, 'Opening Time') }}
                                    {{ form_errors(form.openingTime) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form_widget(form.closingTime) }}
                                    {{ form_label(form.closingTime, 'Closing Time') }}
                                    {{ form_errors(form.closingTime) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="invalid-feedback d-block">
                                {% for message in app.flashes('timeError') %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-4">
                        {{ form_widget(form.pricePerHour) }}
                        {{ form_label(form.pricePerHour, 'Price Per Hour') }}
                        {{ form_errors(form.pricePerHour) }}
                    </div>

                    <h4>Location</h4>
                    <div class="container overflow-hidden mb-4 p-0">
                        <div class="row g-md-3 gy-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form_widget(form.city) }}
                                    {{ form_label(form.city, 'City') }}
                                    {{ form_errors(form.city) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    {{ form_widget(form.zipCode) }}
                                    {{ form_label(form.zipCode, 'Zip Code') }}
                                    {{ form_errors(form.zipCode) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-4">
                        {{ form_widget(form.address) }}
                        {{ form_label(form.address, 'Address') }}
                        {{ form_errors(form.address) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input p-5 rounded info2">
                    <h4>Additional Information</h4>
                    <div class="container overflow-hidden mb-4 p-0">
                        <div class="row g-md-3 g-3 justify-content-center">
                            <div class="col-md-4">
                                {{ form_widget(form.hasShower) }}
                                {{ form_label(form.hasShower, 'Thamma douche') }}
                                {{ form_errors(form.hasShower) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_widget(form.hasPark) }}
                                {{ form_label(form.hasPark, 'Park Space') }}
                                {{ form_errors(form.hasPark) }}
                            </div>
                        </div>
                    </div>

                    <h4>Upload Images</h4>
                    {% if stadiumImages|length > 0 %}
                        <div class="text-center no-img rounded mb-5 d-flex justify-content-center" style="display: none !important;">
                    {% else %}
                        <div class="text-center no-img rounded mb-5 d-flex justify-content-center">
                    {% endif %}
                            <h6 class="align-self-center">No images yet! <span class="align-self-center">Upload</span> (MAX 4). </h6>
                            <h6 class="align-self-center warning" style="color: red; display: none">
                                You can't upload more than 4 images!
                            </h6>
                        </div>

                    {% if stadiumImages|length > 0 %}
                        <div class="img-place img-ctn" style="display: none">
                    {% else %}
                        <div class="img-place" style="display: none">
                    {% endif %}
                        {% for image in stadiumImages %}
                            <div class="img-prv rounded" style="background-image: url('{{ asset('/uploads/images/' ~ image.path) }}')"></div>
                        {% endfor %}
                        {% for i in ((stadiumImages|length)+1)..4 %}
                            <div class="img-prv rounded"></div>
                        {% endfor %}
                        </div>


                    <div class="text-center mb-5">
                        {% if stadiumImages|length > 0 %}
                            <span>Upload other images</span>
                        {% else %}
                            <span style="display: none">Upload other images</span>
                        {% endif %}
                        {{ form_errors(form.stadiumImages) }}
                        <div class="invalid-feedback d-block">
                            {% for message in app.flashes('imageError') %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="text-center">
                        {{ form_row(form.addStadium) }}
                    </div>

                    <div style="display: none">
                        {{ form_widget(form.stadiumImages) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
{{ form_end(form) }}

<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
<script src="{{ asset('assets/js/addStadium.js') }}"></script>
</body>
</html>